{
  "presets": ["es2015"],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    ["syntax-dynamic-import"], //懒加载
    ["transform-object-rest-spread"] //…mapActions
  ]
}
